.img-hero {
    min-height: 300px;
    height: 85vh;
    object-fit: cover;
}
body:not(.home) .img-hero {
    min-height: 200px;
    height: 30vh;
}
/* .hero-clip-path{
    clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);-ms-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);-moz-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);
    -ms-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);-ms-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);-moz-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);
    -o-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);-ms-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);-moz-clip-path: polygon(100% 0, 100% 80%, 80% 85%, 55% 83%, 25% 95%, 0 78%, 0 0);
} */
h1{
    animation: showText 1s linear;
}
.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }
/* .ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    animation: showText 1s linear;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  } */
  @keyframes showText {
    from {
        opacity:0;
    }  
    to{
          opacity:1;
      }
  }